###############################################################################
# Family & Device:    iCE40UP5K
# Package:            SG48
###############################################################################

set_io pin_29_miso 14
set_io pin_30_cs   16
set_io pin_31_mosi 17
set_io pin_32_sck  15
set_io pin_led     39
set_io pin_usbp    4
set_io pin_usbn    3
#set_io pin_pu      A3
set_io pin_clk     44

